body{
    font-family:Arial;
    margin:0;
}



.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#111;
    color:white;
}

.nav-links a{
    margin-left:20px;
    color:white;
    text-decoration:none;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px;
}

.hero-text{
    max-width:500px;
}

.hero-text h1 span{
    color:#501ba5;
}

.hero-image img{
    width:300px;
    border-radius:50%;
}



.btn-primary{
    background:#4a1d85;
    color:rgb(255, 255, 255);
    padding:12px 20px;
    text-decoration:none;
    border-radius:5px;
}

.btn-outline{
     background:#4a1d85;
    color:rgb(255, 255, 255);
    padding:12px 20px;
    text-decoration:none;
    border-radius:5px;
}



.projects{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    padding:40px;
    background:#4a1d85;
    color:rgb(255, 255, 255);
    text-decoration:none;
    
}

.project-card{
    border:1px solid #ebe9ed;
    padding:20px;
    border-radius:10px;
    background:#4a1d85;
}



.contact{
    max-width:500px;
    margin:auto;
}

.contact input,
.contact textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
}



.page-title{
    text-align:center;
    margin-top:40px;

}
