@page "/contact"

<h1 class="page-title">Contact Me</h1>

<div class="contact">

    <p>Email: jimcarlomaru150@email.com</p>
    <p>Phone: +6393 8942 6498</p>

    <form>

        <input type="text" placeholder="Your Name" />

        <input type="email" placeholder="Your Email" />

        <textarea placeholder="Message"></textarea>

        <button type="submit">Send Message</button>

    </form>

</div>