@page "/index"

<section class="hero">

    <div class="hero-text">
        <h1>Hello, I'm <span>Jim Carlo Maru</span></h1>

        <p>
            Information Technology Student specializing in
            Blazor, ASP.NET, and modern web development.
        </p>

        <div class="hero-buttons">
            <a class="btn-primary" href="/projects">View Projects</a>
            <a class="btn-outline" href="/resume">View Resume</a>
        </div>
    </div>

   <div class="hero-image">
        <img src="JIM.jpg" alt="Profile Picture" class="profile-img">

        <p>        
                 Profile Picture </p>
    </div>

</section>