@page "/Myskills"

<PageTitle>My Skills</PageTitle>

<h3>SKILLS</h3>
        <ul>
            <li>Blazor</li>
            <li>ASP.NET</li>
            <li>HTML / CSS</li>
            <li>JavaScript</li>
            <li>SQL</li>
            <li>Problem Solving</li>
        </ul>