@page "/resume"

<div class="resume-container">

    <!-- LEFT SIDEBAR -->
    <div class="sidebar">

        <h3>CONTACT</h3>
        <p>📞 +63 938 9426 498</p>
        <p>📧 jimcarlomaru150@email.com</p>
        <p>📍 Philippines</p>
        <p>🌐 portfolio.com</p>

        <h3>SKILLS</h3>
        <ul>
            <li>Communication Skills</li>
            <li>Problem-Solving</li>
            <li>Time Management</li>
Teamwork 
Adaptability 
Attention to Detail
            <li>Basic Computer Skills</li>
            <li>Teamwork</li>
            <li>Adaptability</li>
        </ul>

        <h3>LANGUAGES</h3>
        <ul>
            <li>English</li>
            <li>Filipino</li>
        </ul>

    </div>


    <!-- RIGHT CONTENT -->
    <div class="content">

        <div class="header">
            <h1>Jim Carlo Maru</h1>
            <h4>Information Technology Student</h4>
        </div>

        <section>
            <h2>PROFILE</h2>
            <p>
                I am a 2nd-year Bachelor of Science in Information Technology (BSIT)
                student who is eager to learn, hardworking, and responsible. 
                I am passionate about improving my skills and gaining experience 
                while contributing positively to any team or organization.
            </p>
        </section>

        <section>
            <h2>EDUCATION</h2>

            <p>
                <strong> <li>Malbago Elementary School</li></strong>
               <li>2011 - 2017</li> 
            </p>
            <p> 
                <strong>Humanities and Social Sciences</strong>
               <strong><li>Kawit National School</li></strong>
               <li>2017 - 2024</li> 
            </p>
            <p>        
                <strong>Bachelor of Science in Information Technology</strong>
                <strong><li>CTU-Daanbantayan Campus</li></strong>
                <li>2024 - 2026 Present</li> 
            </p>

        </section>

    </div>

</div>